#title {
    text-align: center;
    font-family: arial, sans-serif;
    background-color: #FFFFFF;
  }
  
  #alerts {
    text-align: center;
    font-size: small;
    border-collapse: collapse;
    width: 100%;
    background-color: #FFFFFF;
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
  }
  
  #alerts td, #alerts th {
    border-bottom: 1px solid #0000001c;
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
    padding: 8px;
  }

  #alerts td{
    height: 50px;
  }

  #alerts th {
    height: 80px;
  }
  
  #alerts tr:nth-child {background-color: #FFFFFF;}
  
  #alerts tr:hover {
    background-color: #00000010;
    transition-duration: 1s;
  }
  
  #alerts th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #FAFAFA;
  }