/* ID section */
#divBt{
  display: flex; 
  margin-top: 25px;
  width: 100%; 
}

#myNavBar{
  display: flex;
  justify-content: space-between;
  top:0;
  position: -webkit-sticky;
  position:sticky;
  z-index:7;
  background-color: #263238;
}

/* Class section */


.bt{
  left: 45px;
  margin-left:45px;
  order:1;
  color:white !important;
  background-color: rgba(255, 255, 255, 0);
  height: 70%;
}

.bt:hover{
  background-color: #7a64f7;
}

.btn-purple{
  background-color:#7A64F7 !important;
  border-color:#7A64F7 !important ;
  color:white!important;
}

.closebtn{
  text-decoration: none !important;
}

.export-dropdown{
  margin-left: 4%;
}

.exportItem{
  color: black !important;
  font-size: 1rem !important;
  text-decoration: none !important;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 56; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  top:50%;
  margin-right: 45px;
  font-size: 50px;
  position: -webkit-sticky;
  order:2;
  color: white;
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 10%; /* 25% from the top */
  width: 50%; /* 100% width */
  left:30%;
  background-color: #263238;
  padding:20px;
  border-radius: 10px;
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

.overlay:hover .closebtn:hover {
  background-color: rgba(255, 255, 255, 0)!important;
  color: #7a64f7;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Media section */
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}