/* Class section */
.ant-pagination *{
    border-radius: 5px !important;
}

.ant-pagination-item{
    color:white!important;
    background-color:#6C757D;
    border-color:#6C757D;
}

.ant-pagination-item:hover{
    color:white !important;
    border-color:#7A64F7!important;
    background-color:#6C757D;
    border-color:#6C757D;
}

.ant-pagination-item-link{
    color:white!important;
    background-color:#6C757D;
    border-color:#6C757D;
}

.ant-pagination-item-link{
    color:white!important;
    background-color:#6C757D;
    border-color:#6C757D;
}
.ant-pagination-item-active{
    border-color:#7A64F7;
    background-color:#7A64F7;
    --antd-wave-shadow-color:white!important;
}
.ant-pagination-item-ellipsis{
    color: white !important;
}

.ant-pagination button{
    color:white!important;
    background-color:#6C757D !important;
    border-color:#6C757D !important;
    
}

.purple-bg{
    background-color:#7A64F7 !important;
    border-color:#7A64F7 !important ;
    color:white!important;
}

.purple-bg:focus{
    background-color:#7A64F7 !important;
    border-color:#7A64F7 !important ;
}

/* Pseudo Element section */
::selection{
    color:white!important;
    background-color:#6C757D;
    border-color:#6C757D;
}