
/* ID section */
#spanMessage {
    min-height: 10px;
}

/* Class section */
.drop-zone {
    max-width: 200px;
    height: 200px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #f5f5fd;
    border: 4px dashed #6a57da;
    border-radius: 10px;
}

.drop-zone--over {
    border-style: solid;
}
  
.drop-zone__input {
    display: none;
}
  
.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-image: url("../../resources/logoOLB_background.png");
    background-size: cover;
    position: relative;
}
  
.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #f5f5fd;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}

  