/* Class section */
.navbar-dark{
    border-bottom: rgba(0, 0, 0, 0.1) solid 1px !important;
}


/* Media section */
@media (min-width: 992px) { 
    /* HTML Element section*/
    a{
        background-color: transparent !important;
        border-color: transparent !important ;
        border-radius: 5px;
        z-index: 50;
    }
    a:not([id="megaTitle"]):hover{
        background-color: #7a64f7 !important ;
        z-index: 50;
    }

    /* Class section */
    
    .dropdown-menu .imagenav{
        min-width:20px;
        margin-left:20%;
    }
    .droptest div{
        margin-top:0;
        min-width:100%;
    }
    .droptest div a{
        width:100% !important;
        padding-left: 0;
        padding-right: 0;
        margin-left:0;
        margin-right:0;
    }
    .droptest *::after{
        display: none !important;
    }
    .imagenav{
        width: 1vw;
        min-width:20px;
        margin-left:10%;
    }
    .navbar-dark{
        background-color: #263238 !important;
        z-index: 50;
    }
    .whole-nav{
        justify-content: space-between !important;
    }
    .whole-nav div{
        justify-content: space-between !important;
    }
}
@media (max-width: 992px) {
    /* HTML Element section */
    a{
        background-color: transparent !important;
        border-color: transparent !important ;
        border-radius: 5px;
        z-index: 50;
        display: block;
    }
    a:not([id="megaTitle"]):hover{
        background-color: #7a64f7 !important ;
        z-index: 50;
    }

    /* Class section */
    .dropdown-menu .imagenav{
        min-width:20px;
        margin-left:48%;
    }
    .droptest div{
        margin-top:0;
        min-width:100%;
    }
    .droptest div a{
        width:100% !important;
        padding-left: 0;
        padding-right: 0;
        margin-left:0;
        margin-right:0;
    }
    .droptest *::after{
        display: none !important;
    }
    .imagenav{
        width: 1vw;
        min-width:20px;
        margin-left:48%;
    }
    .navbar-dark{
        background-color: #263238 !important;
        z-index: 50;
    }

}
@media(max-width:576px){
    /* ID section */
    #megaTitle span{
        display:none;
     }
     
}