/* ID section */
#all{
    color: black;
}

#cadre{
    border-style: solid;
    border-color: black;
    color:black;
}

#greattitle{
    color: #7a64f7;
    margin-left: 2% !important;
    margin-right: 2% !important;
}

#title{
    color: black;
    font-style: normal;
}

/* Class section */
.obs{
    background-color: white !important;
    border-radius: 10px;
    padding:20px;
}

.rounded{
    background-color: #7a64f7;
    height: 2px;
    margin-top: 2px;
}