/* ID section */
#greattitle{
    margin-left: 2% !important;
    margin-right: 2% !important;
}

/* Class section */
.check{
    width: 100%;
    overflow: hidden;
    display: block;
    background-color: #00000030;
    color: white;
    border: none;
    height: 100%;
    padding-left: 1.75rem !important;

    border-radius: 50px;
}

.col_text{
    padding: 0% !important;
    margin-bottom: 10px !important;
}

.col_label{
    padding-left: 0.5rem !important;
    background-color: #00000030;
    border-radius: 50px;
    margin-bottom: 5px;
}

.div_check{
    margin-bottom: 2%;
}

.textArea{
    width: 100%;
    border-radius: 5px;
}

.textLabel{
    padding-left: 0% !important;
}

.val_check{
    color: white !important;
}

