/* Class section */
.popup-content{
    border-radius: 0.5rem !important;
    background-color: #263238 !important;
    border-color: #263238 !important; 
    color: #eeeeee;
}
.popup-content h1{
    color: #9e9e9e !important;
}

.react-tabs__tab--selected{
    background-color: #9e9e9e2e;
    color: white;
    border-color: #263238;
    border-bottom: #263238;
}